@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: Ubuntu, Helvetica, sans-serif;
  background: #f2f2f2;
}

.avatar {
  width: 32px;
  border-radius: 100%;
  margin: 5px;
}

header {
  /* background: #4a90e2; */
  background: #13bb4b;
  display: flex;
  justify-content: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 42px;
  color: #fff;
  min-width: 980px;
  font-size: 14px;
}

.post-list {
  width: 700px;
  margin: 0 auto 20px;
}
.post {
  margin-top: 20px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  color: #3e3e3e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create {
  width: 700px;
  margin: 20px auto;
  background: white;
  border-radius: 8px;
  color: #3e3e3e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.create input {
  flex: 1;
  border-radius: 8px;
  height: 32px;
  border: 0;
  background: #f2f3f5;
  outline: 0;
  color: #333;
  font-size: 13px;
  padding: 0 14px;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

.post-info {
  display: flex;
  align-content: center;
}

.details {
  display: flex;
  flex-wrap: wrap;
}

.post-info .details {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  color: #4A4A4A;
  font-size: 15px;
  /* line-height: 14px; */
}

.post-info .details > span {
  color: #9A9A9A;
}

.divider {
  width: 95%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
}

.post-comments {
  margin-top: 20px;
}

.comment {
  display: flex;
  margin: 5px;
  flex-wrap: wrap;
  align-content: flex-start;
}
.comment > img {
  flex: 0;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  margin: 5px;
}

.comment-content {
  flex: 1;
  flex-direction: row;
  align-content: flex-end;
  padding: 15px;
  color: #4A4A4A;
  border-radius: 20px;
  background: #eee;
  font-size: 13px;
}

.comment-content > span {
  margin-left: 5px;
}